body {
	background: linear-gradient(-45deg, #ee7752, #ff2929, #FFBC02, #FFAF29);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100%;
  	margin: 15px;
}

nav {
  display: flex;
  align-items: space-between;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

p {
	font: bold;
	font-size: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.title {
	display: flex;
	justify-content: center;
	font-family: "Lobster", cursive;
	color: white;
	font-size: 40px;
	margin: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
